/*Stylesheet for lab4: responsive */

@media (min-width: 1281px) {
	.homer{
		width: 600px;
		height: 600px;
		background: url("homer.jpg");
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url("homer.jpg") 0px 0px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url("homer.jpg") 300px 0px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.homer {
		width: 300px;
		height: 300px;
		background: url("homer.jpg") 0px -300px;
	}
}

@media (max-width: 480px) {
	.homer{
		width: 300px;
		height: 300px;
		background: url('homer.jpg') 300px -300px;
	}
}